.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;}
  
  .carousel-control-next {
    background-color: black
  }
   .carousel-control-prev {
    background-color: black
  }
.body {background-color: lightblue;}

#row1{
  color: navy;
  font-size: 25px;
   font-family: 'Advent Pro', sans-serif;
}

.jumbotron{
    background-image:url("images/vball1.png");
    color: Navy;
     font-family: 'Lobster Two', cursive;
    font-size:20px;
    }
.title{
 color: navy;
  font-size: 50px;
   font-family: 'Advent Pro', sans-serif;
}    
#row2{
   color:#cc6699 ;
   font-family: 'Oswald', sans-serif;
   font-size: 20px;
}

#row3{
     color:#cc6699 ;
   font-family: 'Oswald', sans-serif;
   font-size: 20px;
}

#row4{
     color:#cc6699 ;
   font-family: 'Oswald', sans-serif;
   font-size: 20px;
}

.hr3{
    color: #ff7b5d;
background-color: #ff7b5d;
height: 3px;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}